# Ignore everything
*

# Except for
!.gitignore

# Neovim dotfiles
!nvim
!nvim/**
# Ignore lazy-lock there though
nvim/.config/nvim/lazy-lock.json

# Tmux dotfiles
!tmux
!tmux/**

# Fish config
!fish/
!fish/.config/
!fish/.config/fish/
!fish/.config/fish/config/
!fish/.config/fish/config/config.fish
